*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "josefin Sans", sans-serif;
 

}
header
{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://cdn.britannica.com/66/250066-050-B34A9532/Brihadishvara-Temple-Thanjavur-Tamil-Nadu-India.jpg);
}
nav{
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{
    margin-top: 10px;
    margin-left: 75px;
  
}
.menu
{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-right: 20px;
}
nav .menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
}
nav .menu a:first-child
{
    color:#00b894 ;

}
nav .menu a:active
{
    color: #00b894;
}
section
{
    text-align: center;
}
section h3
{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 5px;
    color: white;
}
section h1
{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
section a 
{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: pink;
}
section
{
    margin-top: 80px;
}
section .btnone
{
    background: #fff;
    color:black;
}
section .btnone:hover
{
    background: #00b894;
    color: white;
    text-decoration: underline;
} 
section .btntwo
{
    background: #00b894;
    color: white;
    text-decoration: underline;

}
section .btntwo:hover
{
    background: #fff;
    color:black;

}
.change_content::after
{
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;

}
@keyframes changetext 
{
    0%
    {
        content:"Coimbatore";
    }
    10%
    {
     content :"Nagarcoil";
    }
    20%
    {
        content :"Chennai";
    }
    30%
    {
        content :"Salem";
    }
    40%
    {
        content : "Madhurai";
    }
    50%
    {
        content : "Tanjore";
    }
    60%
    {
        content :"Trichy";
    }
    70%
    {
        content :"Erode";
    }
    80%
    {
        content :"PudhuKottai";
    }
    90%
    {
        content : "Namakkal";
    }
    100%
    {
        content :"Coimbatore";
    }
    
}